<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MONSTER-S_ATTACK_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{0,0},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{226,0},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{452,0},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{678,0},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{904,0},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{1130,0},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{1356,0},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{1582,0},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{1808,0},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{0,226},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{226,226},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{452,226},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{678,226},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{904,226},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{1130,226},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{1356,226},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MONSTER-S_ATTACK_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{1582,226},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior-atk.png</string>
            <key>size</key>
            <string>{2034,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4008fb23addd1b1d5b3d5b720dfc7ba:3b024f2482cea3252b7baa5f9ec9b233:0793d15bc6769348d9f540e5f60f6307$</string>
            <key>textureFileName</key>
            <string>warrior-atk.png</string>
        </dict>
    </dict>
</plist>
