<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage/frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,914}</string>
                <key>spriteSourceSize</key>
                <string>{460,914}</string>
                <key>textureRect</key>
                <string>{{0,0},{460,914}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,864}</string>
                <key>spriteSourceSize</key>
                <string>{672,864}</string>
                <key>textureRect</key>
                <string>{{460,0},{672,864}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/info-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,468}</string>
                <key>spriteSourceSize</key>
                <string>{808,468}</string>
                <key>textureRect</key>
                <string>{{1132,0},{808,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{0,914},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/tip-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,96}</string>
                <key>spriteSourceSize</key>
                <string>{680,96}</string>
                <key>textureRect</key>
                <string>{{220,914},{680,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/ultimate-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{900,914},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/ultimate-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1055,914},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/ultimate-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{1210,914},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/問號100X100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1319,914},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/皇冠115X115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1419,914},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/紀錄-124X48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,48}</string>
                <key>textureRect</key>
                <string>{{1534,914},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage/規則-124X48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{124,48}</string>
                <key>textureRect</key>
                <string>{{1658,914},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stage-ui.png</string>
            <key>size</key>
            <string>{1940,1134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:183a882e5008ac53da878818a287ae0f:f32bcdbd5219852426fd0dfa95793c5e:3433988360db0f2fa347897afdcd5d09$</string>
            <key>textureFileName</key>
            <string>stage-ui.png</string>
        </dict>
    </dict>
</plist>
